.section-about {

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

    &__info {
        max-width: 330px;
        padding-left: 50px;
    }

    &__item { //.section-about__item > :first-child
        padding: 15px 0;

        & > :first-child {
            font-weight: 700;
            padding-bottom: 5px;
        }

        &--pseudo-1 {
            position: relative;
            padding-left: 50px;

            // .section-about__item--pseudo-1:before
            &:before { 
                content: url(../images/content/icn-settings.icn-md-1.svg);
                position: absolute;
                height: 32px;
                width: 32px;
                left: 0;
            }
        }

        &--pseudo-2 {
            position: relative;
            padding-left: 50px;

            // .section-about__item--pseudo-2:before
            &:before { 
                content: url(../images/content/icn-settings.icn-md-2.svg);
                position: absolute;
                height: 32px;
                width: 32px;
                left: 0;
            }
        }

        &--bg {
            padding-left: 50px;
            background-image: url(../images/content/icn-settings.icn-md-2.svg);
            background-repeat: no-repeat;
            background-position: top 10px left 0px;
        }
    }

    &__video-container {
        position: relative;
    }

    &__video-overlay {
        position: absolute;
        
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 1;

        pointer-events: none;

        background-color: rgba(0,0,0,.3);
    }
}