body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.2px;

    color: $second-text-color;
}

[class$="__container"] {
    margin: 0 auto;
    max-width: 1046px;
}
.container {
    margin: 0 auto;
    max-width: 1046px;

    &--hero {
        min-height: calc(100vh - 40px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-left: 15px;
        padding-right: 15px;
    }
}

[class$="__header"] {
    margin: 0 auto 40px;
    max-width: 510px; 
    text-align: center;
}

.title-common {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    
    letter-spacing: 0.2px;

    color: $text-color;    

    margin-bottom: 20px;
}

.title-secondary {
    color: $text-color;
    font-size: 24px;
    font-weight: 700;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;    
}

.button {
    display: inline-block;

    padding: 10px 36px;

    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;

    border: 1px solid;

    transition: color .5s ease, background-color .5s ease;
    // transition: all .5s ease;

    &--rounded {
        border-radius: 37px;
    }

    &--primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;

        &:hover {
            color: $primary-color;
            background-color: transparent;
        }
    }

    &--secondary {
        background-color: transparent;
        border-color: $secondary-color-1;
        color: $secondary-color-1;

        &:hover {
            color: $white;
            background-color: $secondary-color-1;
        }
    }
}

.icon-svg { 
    fill: $secondary-color-1;

    &:hover {
        fill: $white;
    }
}

.link {
    &:hover {
        text-decoration: underline;
      }
}