/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

// Design colors
$text-color: #252B42;
$second-text-color: #737373;
$primary-color: #FFA62B;
$secondary-color-1: #00A0C1;

/* Components */
